/* Generics */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
width: 80%;
height: 1000px;
margin: auto;
background-color: white;
}

body {
    background-color: #F6F8F9;
}

/* header */

.header {
    height: 80px;
    line-height: 80px;
    background-color: white;
    margin-bottom: 40px;
}

#title {
    display: inline-block;
    vertical-align: middle;
    font-size: 38px;
}

#logo{
    height: 50px;
    margin-left: 50px;
    vertical-align: middle;                 
}

/* main */

/* buttons */

.buttons-line {
    padding: 20px 40px;
    border-bottom: 1px solid lightgray;

}

.button {
    height: 30px;
    border-radius: 10%;
    padding: 5px 10px;
}

#bottone1 {
    color: white;
    background-color: rgb(80, 196, 241);
    border: none;
}

#bottone2 {
    color: lightgray;
    background-color: white;
    border: 1px solid lightgrey;
}

/* Task */

.todo {
    padding: 40px 80px;
    font-size: 19px;
}

.lista {
    list-style-type: none;
    padding: 0;
    margin-0:
}

.etichetta {
    color: white;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.editorial {
    background-color: lightskyblue;
}

.goals {
    background-color: rgb(198, 135, 250);
}

.recruiting {
    background-color: rgb(42, 129, 71);
}

.mobile {
    background-color: rgb(212, 127, 30);
}

.website {
    background-color: rgb(233, 29, 199);
}

.sales {
    background-color: #519763;
}

.check {
    color: green;
    font-size: 20px;
    font-weight: 900;
    border: 2px solid green;
    border-radius: 100%;
}

.cross {
    color: rgb(231, 8, 8);
    font-size: 20px;
    font-weight: 900;
    border: 2px solid rgb(231, 8, 8);
    border-radius: 100%;
}